<header class="header">
  <div class="container">
    <div class="navbar">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">MUAEN</a>
      </div>
      <nav class="navbar-collapse">
        <ul class="navbar-nav menu flex-nowrap align-items-center flex-fill">
          <li class="menu-item">
            <a href="/">首页</a>
          </li>
          <li class="menu-item">
            <a href="/">前端</a>
          </li>
          <li class="menu-item">
            <a href="/">Rust</a>
          </li>
          <li class="menu-item">
            <a href="/">关于我</a>
          </li>
          <li class="menu-item">
            <a href="/">Xilee代购店</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
