@import "../../scss/utils/px2rem";

.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 11;
  padding: px2rem(20) 0 0;
  height: px2rem(90);
}

.navbar {
  display: flex;
  flex-direction: row;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px2rem(168);
    height: px2rem(70);
    margin-right: px2rem(16);
  }

  &-brand {
    display: flex;
    font-size: 24px;
    color: #fff;
    letter-spacing: px2rem(4);
  }

  &-collapse {
    display: flex;
    flex: 1;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  flex: 1;

  &-item {
    list-style: none;
    > a {
      color: #d4d4d4;
      text-decoration: none;
      font-size: 14px;
      margin-right: px2rem(20);

      &:hover {
        color: #fff;
      }
    }
  }
}
